{% extends 'base.html' %}

{% block title %} Tweet detail{% endblock title %}

{% block content %}
<div class="container d-flex justify-content-center">
        <div class="card mt-5" style="width: 18rem;">
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted">{{object.name}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">{{object.posicion}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">{{object.edad}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">{{object.altura}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">{{object.pesoKg}}</h6>
                </div>
              </div>
</div>
{% endblock  %}