{% extends 'base.html' %}

{%load static%}

{% block title %}Home{% endblock %}

{% block content %}

<table class="table table-bordered ">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Lugar</th>
        <th scope="col">Equipos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td >AFC Norte</td>
        <th>
            <div class="row">
                <div class="col-sm-3"><a href="/PaginaBaltimore"><img src="{% static 'img/Baltimore Ravens.png' %}" alt="Lights" style="width:45%"></a></div>
                <div class="col-sm-3"><a href="/PaginaCincinnari"><img src="{% static 'img/Cincinnati Bengals.png' %}" alt="Lights" style="width:30%"></a></div>
                <div class="col-sm-3"><a href="/PaginaCleveland"><img src="{% static 'img/Cleveland Browns.png' %}" alt="Lights" style="width:40%"></a></div>
                <div class="col-sm-3"><a href="/PaginaPittsburgh"><img src="{% static 'img/Pittsburgh Steelers.png' %}" alt="Lights" style="width:20%"></a></div>
            </div>
        </th>
      </tr>
      <tr>
          <td>AFC Este</td>
          <th>
              <div class="row">
                  <div class="col-sm-3"><a href="/PaginaBuffalo"><img src="{% static 'img/Buffalo Bills.png' %}" alt="Lights" style="width:30%"></a></div>
                  <div class="col-sm-3"><a href="/PaginaMiami"><img src="{% static 'img/Miami Dolphins.png' %}" alt="Lights" style="width:30%"></a></div>
                  <div class="col-sm-3"><a href="/PaginaPatriots"><img src="{% static 'img/patriotstransparente.png' %}" alt="Lights" style="width:40%"></a></div>
                  <div class="col-sm-3"><a href="/PaginaJets"><img src="{% static 'img/New York Jets.png' %}" alt="Lights" style="width:30%"></a></div>
              </div>
          </th>

      </tr>
      <tr>
          <td>AFC Sur</td>
          <th>
              <div class="row">
                  <div class="col-sm-3"><a href="/PaginaHouston"><img src="{% static 'img/Houston Texans.png' %}" alt="Lights" style="width:45%"></a></div>
                  <div class="col-sm-3"><a href="/PaginaJacksonville"><img src="{% static 'img/Indianapolis Colts.png' %}" alt="Lights" style="width:30%"></a></div>
                  <div class="col-sm-3"><a href="/PaginaIndianapolis"><img src="{% static 'img/Jacksonville Jaguars.png' %}" alt="Lights" style="width:40%"></a></div>
                  <div class="col-sm-3"><a href="/PaginaTennessee"><img src="{% static 'img/Tennessee Titans.png' %}" alt="Lights" style="width:20%"></a></div>
              </div>
          </th>
      </tr>
      <tr>
          <td>AFC West</td>
          <th>
              <div class="row">
                  <div class="col-sm-3"><a href="/PaginaDenver"><img src="{% static 'img/Demver.png' %}" alt="Lights" style="width:30%"></a></div>
                  <div class="col-sm-3"><a href="/PaginaKansas"><img src="{% static 'img/Kansas City Chiefs.png' %}" alt="Lights" style="width:30%"></a></div>
                  <div class="col-sm-3"><a href="/PaginaChargers"><img src="{% static 'img/Los Angeles Chargers.png' %}" alt="Lights" style="width:60%"></a></div>
                  <div class="col-sm-3"><a href="/PaginaOakland"><img src="{% static 'img/Oakland Raiders.png' %}" alt="Lights" style="width:20%"></a></div>
              </div>
          </th>
      </tr>
      <tr>
          <td>NFC Norte</td>
          <th>
              <div class="row">
                  <div class="col-sm-3"><a href="/PaginaChicago"><img src="{% static 'img/Chicago Bears.png' %}" alt="Lights" style="width:30%"></a></div>
                  <div class="col-sm-3"><a href="/PaginaDetroit"><img src="{% static 'img/Detroit Lions.png' %}" alt="Lights" style="width:30%"></a></div>
                  <div class="col-sm-3"><a href="/PaginaGreen"><img src="{% static 'img/Green Bay Packers.png' %}" alt="Lights" style="width:40%"></a></div>
                  <div class="col-sm-3"><a href="/PaginaMinnesota"><img src="{% static 'img/Minnesota Vikings.png' %}" alt="Lights" style="width:20%"></a></div>
              </div>
          </th>
      </tr>
      <tr>      

{% endblock %} <!--Etiqueta de tamplate-->
