{%extends 'base.html'%}

{%load static%}

{%block title%}Estadios{%endblock%}

{%block content%}

<div class="container">
        <div class="row">
          <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/logonfl.png' %}" class="card-img-top" alt="AT&T Stadium">
                    <div class="card-body">
                        <h5 class="card-title">AT&T Stadium</h5>
                        <p class="card-text">Texas alberga la casa de los Dallas Cowboys, ubicado en Arlington, fue inaugurado en junio de 2009. 

                                Cuenta con la pantalla HD más grande del mundo en un recinto deportivo, compuesta por cuatro pantallas de 48x21 metros y dos de 16x9 metros, pesa alrededor de 60 toneladas y esta suspendida a casi 30 metros sobre el campo.</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/logonfl.png' %}" class="card-img-top" alt="Heinz Field">
                    <div class="card-body">
                        <h5 class="card-title">Heinz Field</h5>
                        <p class="card-text">Casa de los Steelers de Pittsburg, cuenta con una capacidad para 65 mil aficionados. Este estadio se inunda de amarrillo con The Terrible Towel, símbolo que inventaron los fans para animar a su equipo desde la tribuna.</p>
                </div>
            </div>
        </div>

    <div class="col">    

            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/logonfl.png' %}" class="card-img-top" alt="U.S. Bank Stadium">
                <div class="card-body">
                    <h5 class="card-title">U.S. Bank Stadium</h5>
                    <p class="card-text">Inaugurado en 2016, este estadio es el hogar de los Minnesota Vikings y fue la sede del Super Bowl de 2018. Construído por HKS, Inc, la estructura simula la silueta de un barco vikingo, en honor al equipo que ocupa la construccción.</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/logonfl.png' %}" class="card-img-top" alt="Gillette Stadium
                ">
                <div class="card-body">
                    <h5 class="card-title">Gillette Stadium</h5>
                    <p class="card-text">Este estadio diseñado en 2002 por el despacho Populous, es la meca de uno de los equipos preferidos de la liga y contendiente del Super Bowl número 53, los Patriots de New England.</p>
                </div>
            </div>


        </div>
      </div>
</div>

{%endblock%}