{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
		<div class="row">
		  <div class="col-sm-4"><img src="{% static 'img/casco.png' %}" alt="Lights" style="width:85%"></div>
		  <div class="col-sm-4"><img src="{% static 'img/logonfl.png' %}" alt="Lights" style="width:65%"></div>
		  <div class="col-sm-4"><img src="{% static 'img/casco2.png' %}" alt="Lights" style="width:75%"></div>
		</div>
    </div>
    <h1>-------------------------------------<strong>Ciudad Parra's</strong>------------------------------------</h1><br>
    <h1>-------------------------<strong>National Leangue Footboll Parra</strong>-------------------------</h1><br>
	
	
		<div class="card">
				<div class="card-header">
					<h3>Noticias</h3>
				</div>
				<div class="col-sm-4"><img src="{% static 'img/Miami Dolphins.png' %}" alt="Lights" style="width:85%"></div>
				<div class="card-body">
					<h5 class="card-title">Los Miami Dolphins agregan a Jim Caldwell al personal de Brian Flores</h5>
					<p class="card-text">Jim Caldwell está de vuelta en la NFL.

							El ex entrenador en jefe de los Colts y los Leones está a bordo del personal de los Dolphins bajo el nuevo entrenador Brian Flores. El experto de la NFL Network, Ian Rapoport, informó el 14 de enero que se esperaba que Miami lo contratara y, el viernes, el equipo anunció que Caldwell será el asistente del entrenador en jefe y el de los mariscales de campo.
							
							"Jim es un ser humano increíble, un hombre de fe y un gran entrenador de fútbol", dijo Flores en un comunicado de prensa del equipo. "Su experiencia como entrenador en jefe será inestimable para mí. Jim es un gran maestro, altamente organizado y alguien por quien tengo mucho respeto".
							
							La era de Flores comenzó oficialmente el lunes cuando fue anunciado como el nuevo entrenador de la franquicia, reemplazando a Adam Gase, quien ahora lidera a los Jets , solo un día después de ayudar a los Patriots a ganar el Super Bowl como su defensivo.</p>
				</div>
			</div>
{% endblock %} <!--Etiqueta de tamplate-->
