{%extends 'base.html'%}

{%load static%}

{%block title%}Cleveland Browns{%endblock%}

{%block content%}

<div class="container">
  <div class="jumbotron">

      <div class="row">
        <div class="col-sm-3"><img src="{% static 'img/Cleveland Browns.png' %}" alt="Lights" style="width:60%"></div>
        <div class="col-sm-6"><h1><strong><br>------Cleveland Browns------</strong></h1> </div>
        <div class="col-sm-3"><img src="{% static 'img/Cleveland Browns.png' %}" alt="Lights" style="width:60%"></div>
      </div>

  </div>
</div>

<table class="table table-striped">
    <th>Nombre</th>
    <th>Posición</th>
    <th>Edad</th>
    <th>Altura</th>
    <th>Peso</th>
    <th></th>
    {% for jugador in list_jugadores %}
        <tr>
            <td>{{ jugador.nombre}}</td>
            <td>{{ jugador.posicion}}</td>
            <td>{{ jugador.edad}}</td>
            <td>{{ jugador.altura}}</td>
            <td>{{ jugador.pesoKg}}</td>

        </tr>
    
    {% endfor %}
</table>

{%endblock%}